<h1><%= name.capitalize %>#<?= $id ?></h1>

<article class="twelve columns">
  <h2>Macbook Air 11"</h2>

  <p>
    <strong>Description: </strong>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.
  </p>

  <p>
    <strong>Price</strong>
    $ 999,00
  </p>
</article>

<div class="kohana-actions">
  <div class="medium primary btn">
    <?= html::anchor('<%= name.downcase.pluralize %>', 'Back') ?>
  </div>
</div>
